/*********
Header
 ********/
header {
    overflow: hidden;
    background-color: #f1f1f1;
    /*padding: 10px 10px;*/
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

header a:hover {
    background-color: #ddd;
    color: black;
}

header a.active {
    background-color: #848484;
    color: white;
}

.header-right {
    float: right;
}

.header__foot_line {
    background-color: #848484;
    margin-top: 49px;
    height: 1px;
}

/*********
Others
 ********/


main {
    /* Borders for debugging */
    border: 2px solid mediumblue;
    height: 95%;
}

.row__display {
    /* Borders for debugging */
    border: 2px solid lightsalmon;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vertical__display {
    /* Borders for debugging */
    border: 2px solid lightgreen;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: auto;
}


.center {
    margin: auto;
}

.global__width {
    width: 50%;
}

.global__margin__bottom, div {
    margin-bottom: 2%;
}

.field {
    /* Borders for debugging */
    border: 2px solid lightpink;
    margin: 5px;
    min-width: 200px;
}

.title {
    /* Borders for debugging */
    border: 2px solid lightpink;
    text-align: center;
}

/*********
Buttons
 ********/
.button {
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 10px;
    text-align: center;
    letter-spacing: 1.5px;
    border-radius: 5%;
    margin: 10px;
    /*cursor: grab;*/
    transition: 0.7s;
}

.button:hover {
    background-color: #EEEEEE;
    transition: 0.7s;
}

/*********
Tickets
 ********/
.ticket__post {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.not__reviewed {
    background-color: #E57F84;
    border-style: inset;
}

.already__reviewed {
    background-color: #F4EAE6;

}

.ticket__post__content {
    margin: 10px;
}

.ticket__post__content__row {
    /* Borders for debugging */
    border: 2px solid lightsalmon;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.ticket__image {
    /* Borders for debugging */
    border: 2px solid red;
    max-width: 30%;
    min-width: 150px;
    max-height: 300px;
}


/*********
Reviews
 ********/
.review__post {
    background-color: #4297A0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.review__post__content {
    margin: 10px;
}

.review__post__content__row {
    /* Borders for debugging */
    border: 2px solid lightsalmon;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.ticket__in__review {
    background-color: #99c5c9;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.review__rating {
    display: flex;
    flex-direction: row;
    font-size: 200%;
    margin-left: 10px;
    align-items: center;
}

.rating__off {
    opacity: 0.2;
}

.rating__on {
    opacity: 0.8;
}