.ticket__image {
    /* Borders for debugging */
    border: 2px solid red;
    max-width: 30%;
    min-width: 150px;
}

.ticket__in__review {
        /* Borders for debugging */
    border: 2px solid blueviolet;
}