.error__message {
    color: red;
    text-align: center;
}

.validation__message {
    color: green;
    text-align: center;
}

.subscriptions__table {
    margin-bottom: 20px;
}

.subscriptions__table, th, td {
    border-collapse: collapse;
    border: 1px solid;
    width: 50%;
}

.subscriptions__item {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    background-color: #F9F9FB;
    border-radius: 10px;
    border: 1px solid #F4EAE6;


}