{% extends 'base_logged_in.html' %}

<!--Additional style for authentication-->
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'ticket/ticket.css' %}"/>
{% endblock %}
{% block additional_js %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('input[type="file"]').change(function (e) {
            let fileName = e.target.files[0].name;
            document.getElementById("selected_image").innerText = `Image selectionnée : ${fileName}`
        });
    });
</script>
{% endblock %}

<!--Content-->
{% block content %}
<h1 class="title">
    {% if edit %}
    Modifier votre ticket
    {% else %}
    Créer une ticket
    {% endif %}
</h1>
<div class="row__display">
    <form method="POST" class="vertical__dispay" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Titre</p>
        {{form.title}}
        <p>Description</p>
        {{form.description}}
        <div class="row__display">
            <button type="button" class="button"
                    onclick="document.getElementById('id_image').click()">
                Télécharger Fichier
            </button>
            {{form.image}}
            <p id="selected_image">Aucune image selectionnée.</p>
        </div>
        <div class="row__display">
            <a href="javascript:history.go(-1)">
                <button type="button" class="button">Annuler</button>
            </a>
            <button type="submit" class="button">Envoyer</button>
        </div>
    </form>
</div>
{% endblock %}