{% extends 'base_logged_in.html' %}

<!--Additional style for authentication-->
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'ticket/ticket.css' %}"/>
{% endblock %}

<!--Content-->
{% block content %}
<h1 class="title">
    {% if edit %}
    Modifier votre ticket
    {% else %}
    Créer une ticket
    {% endif %}
</h1>
<div class="row__display">
    <form method="POST" class="vertical__dispay" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Titre</p>
        {{form.title}}
        <p>Description</p>
        {{form.description}}
        <p>Image</p>
        {{form.image}}
        <button type="submit">Envoyer</button>
    </form>
</div>
{% endblock %}