{% extends 'base_logged_in.html' %}

<!--Additional style for authentication-->
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'ticket/ticket.css' %}"/>
{% endblock %}

<!--Content-->
{% block content %}
<h1 class="title">Vos posts</h1>
<div class="row__display">
    <div class="vertical__dispay">
        {% for ticket in tickets %}
        <div class="vertical__dispay">
            <p>Vous avez publié un ticket</p>
            <p>{{ ticket.title }}</p>
            <p>{{ ticket.time_created |date:'H:i, d F Y'}}</p>
            <p>{{ ticket.description }}</p>
            <!--        TODO : insert image from database-->
            <!--        <img src="{{ ticket.image.url }}">-->
            <a href="edit_ticket/{{ ticket.id }}">
                <button>Modifier</button>
            </a>
            <a href="delete_ticket/{{ ticket.id }}">
                <button>Supprimer</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}