{% extends 'base.html' %}

<!--Additional style for authentication-->
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'authentication/auth.css' %}"/>
{% endblock %}

<!--Content-->
{% block content %}
<div class="row__display">

    <section id="sign-up" class="vertical__display">
        <p>Inscrivez-vous maintenant</p>
        <!--@formatter:off-->
        <a href="{% url "sign_up" %}">
        <!--@formatter:on-->
        <button class="button">S'inscrire</button>
        </a>
    </section>

    <section id="sign-in" class="vertical__display">
        <p>Connectez-vous</p>
        <form method="post" class="vertical__display">
            {% csrf_token %}
            <p>Nom d'utilisateur</p>
            {{form.username}}
            <p>Mot de passe</p>
            {{form.password}}
            <button type="submit" class="button">Se connecter</button>
        </form>
        {% if error_message is not None %}
        <p class="error__message">{{ error_message }}</p>
        {% endif %}
    </section>

</div>
{% endblock %}