{% extends 'authentication/base.html' %}
{% block content %}

<div class="row__display">
    <section id="sign-up" class="form">
        <p>Inscrivez-vous maintenant</p>
        <a href="/sign_up/">
            <button>S'inscrire</button>
        </a>
    </section>

    <section id="sign-in" class="form">
        <p>Connectez-vous</p>
        <form method="post" class="form">
            {% csrf_token %}
            <p>Nom d'utilisateur</p>
            {{form.username}}
            <p>Mot de passe</p>
            {{form.password}}
            <button type="submit">Se connecter</button>
        </form>
    </section>
</div>

{% endblock %}