{% extends 'base.html' %}

<!--Additional style for authentication-->
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'authentication/auth.css' %}"/>
{% endblock %}

<!--Content-->
{% block content %}
<div class="vertical__dispay">
    <form method="POST" class="vertical__dispay">
        {% csrf_token %}
        <p>Nom d'utilisateur</p>
        {{form.username}}
        <p>Mot de passe</p>
        {{form.password1}}
        <p>Confirmer votre mot de passe</p>
        {{form.password2}}
        <!--@formatter:off-->
        <a href="{% url "authentication" %}">
        <!--@formatter:on-->
        <button type="button" class="button">Retourner</button>
        </a>
        <button type="submit" class="button">S'inscrire</button>
    </form>
    {% if error_message is not None %}
    <p class="error__message">{{ error_message }}</p>
    {% endif %}
</div>
{% endblock %}