{% extends 'authentication/base.html' %}
{% block content %}

<div class="box">
    <form method="POST" class="element">
        {% csrf_token %}
        <p>Nom d'utilisateur</p>
        {{form.username}}
        <p>Mot de passe</p>
        {{form.password1}}
        <p>Confirmer votre mot de passe</p>
        {{form.password2}}
            <a href="/authentication/">
                <button type="button">Retourner</button>
            </a>
            <button type="submit">S'inscrire</button>
    </form>
</div>


{% endblock %}