{% extends 'authentication/base.html' %}
{% block content %}


<div class="box">
    <div class="element">
        <p>Inscrivez-vous</p>
        <input type="text" placeholder="Nom d'utilisateur">
        <input type="text" placeholder="Mot de passe">
        <input type="text" placeholder="Confirmer mot de passe">
        <div class="box">
            <a href="/authentication/">
                <button>Retourner</button>
            </a>
            <button>S'inscrire</button>
        </div>
    </div>
</div>

{% endblock %}