{% extends 'base_logged_in.html' %}

<!--Additional style for authentication-->
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'follows/subscriptions.css' %}"/>
{% endblock %}

<!--Activate header button-->
{% block class_subscriptions %}
class="active"
{% endblock %}

<!--Content-->
{% block content %}
<h1 class="title ">Abonnements</h1>
<div class="center global__width">
    <div class="subscriptions__item">
        <p>Suivre d'autres utilisateurs</p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_follows_form.followed_user }}
            <button type="submit" class="button">Envoyer</button>
        </form>
        {% if error_message is not None %}
        <p class="error__message">{{ error_message }}</p>
        {% elif validation_message is not None %}
        <p class="validation__message">{{ validation_message }}</p>
        {% else %}
        <p></p>
        {% endif %}
    </div>
    <div class="subscriptions__item">
        <p>Abonnements</p>
        {% if not subscriptions %}
        <p class="error__message">Vous n'êtes abonnées à aucun utilisateur.</p>
        {% else %}
        <table class="subscriptions__table">
            {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.followed_user.username }}</td>
                <td>
                    <!--@formatter:off-->
                    <a href="{% url "delete_subscription" subscription.followed_user.id %}">Désabonner</a>
                    <!--@formatter:on-->
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <div class="subscriptions__item">
        <p>Abonnés</p>
        {% if not subscribers %}
        <p class="error__message">Vous n'avez aucun abonné pour le moment.</p>
        {% else %}
        <table class="subscriptions__table">
            {% for subscriber in subscribers %}
            <tr>
                <td>{{ subscriber.username }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

</div>
{% endblock %}