{% extends 'base_logged_in.html' %}

<!--Additional style for authentication-->
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'follows/subscriptions.css' %}"/>
{% endblock %}

<!--Content-->
{% block content %}
<div class="vertical__dispay">
    <div class="vertical__dispay">
        <p>Suivre d'autres utilisateurs</p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_follows_form.followed_user }}
            <button type="submit">Envoyer</button>
        </form>
        {% if error_message %}
        <p class="error__message">{{ error_message }}</p>
        {% endif %}
        {% if validation_message %}
        <p class="validation__message">{{ validation_message }}</p>
        {% endif %}
    </div>
    <div class="vertical__dispay">
        <p>Abonnements</p>
        {% if not subscriptions %}
        <p class="error__message">Vous n'êtes abonnées à aucun utilisateur.</p>
        {% else %}
        <table class="subscriptions__table">
            {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.followed_user.username }}</td>
                <td><a href="{% url "delete_subscription" subscription.followed_user.id %}">Désabonner</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <table>

        </table>
    </div>
    <div class="vertical__dispay">
        <p>Abonnés</p>
        {% if not subscribers %}
        <p class="error__message">Vous n'avez aucun abonné pour le moment.</p>
        {% else %}
        <table class="subscriptions__table">
            {% for subscriber in subscribers %}
            <tr>
                <td>{{ subscriber.username }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

</div>
{% endblock %}