header {
    /* Borders for debugging */
    border: 2px solid red;
    text-align: center;
    height: 5%;


}

main {
    /* Borders for debugging */
    border: 2px solid mediumblue;
}

.row__display {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 95%;
    justify-content: center;

}

.form {
    /* Borders for debugging */
    border: 2px solid lightgreen;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
