{% extends 'base_logged_in.html' %}

<!--Additional style for authentication-->
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'posts/posts.css' %}"/>
{% endblock %}

<!--Content-->
{% block content %}
<h1 class="title">Vos posts</h1>
<div class="row__display">
    <div class="vertical__dispay">
        {% for ticket in tickets %}
        <div class="vertical__dispay">
            <p>Vous avez publié un ticket</p>
            <p>Titre : {{ ticket.title }}</p>
            <p>{{ ticket.time_created |date:'H:i, d F Y'}}</p>
            <p>Description : {{ ticket.description }}</p>
            {% if ticket.image %}
            <img src="{{ ticket.image.url }}">
            {% endif %}
            <a href="{% url "edit_ticket" ticket.id %}">
                <button>Modifier</button>
            </a>
            <a href="{% url "delete_ticket" ticket.id %}">
                <button>Supprimer</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}