{% extends 'base_logged_in.html' %}

<!--Additional style for authentication-->
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'posts/posts.css' %}"/>
{% endblock %}


<!--Activate header button-->
{% block class_posts %}
class="active"
{% endblock %}

<!--Content-->
{% block content %}
<h1 class="title">Vos posts</h1>
<div class="center global__width global__margin__bottom">
    {% for post in posts|dictsortreversed:"time_created" %}
    {% if post.content_type == "TICKET" %}

    <!-- //////// TICKET DISPLAY //////// -->

    {% if post.ticket_status == 'not_reviewed' %}
    <div class="ticket__post not__reviewed">
        {% else %}
        <div class="ticket__post already__reviewed">
            {% endif %}
            <div class="ticket__post__content">
                <div class="ticket__post__content__row">
                    {% if post.user == user %}
                    <p>Vous avez demandé un critique</p>
                    {% else %}
                    <p>{{ post.user.username }} a demandé un critique</p>
                    {% endif %}
                    <p>{{ post.time_created | date:'H:i, d F Y' }}</p>
                </div>
                <p>Titre : {{ post.title }}</p>
                <div class="ticket__post__content__row">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" class="ticket__image">
                    {% endif %}
                    <!-- empty element to put button to the right if no image-->
                    <p></p>
                    <div>
                        <!--@formatter:off-->
                        <a href="{% url "edit_ticket" post.id %}">
                        <button class="button">Modifier</button></a>
                        <a href="{% url "delete_ticket" post.id %}">
                        <button class="button">Supprimer</button></a>
                        <!--@formatter:on-->
                    </div>
                </div>
            </div>
            {% if post.ticket_status == 'not_reviewed' %}
        </div>
        {% else %}
    </div>
    {% endif %}


    {% elif post.content_type == "REVIEW" %}
    <!-- //////// REVIEW DISPLAY //////// -->
    <div class="review__post">
        <div class="review__post__content">
            <div class="review__post__content__row">
                {% if post.user == user %}
                <p>Vous avez publié une critique</p>
                {% else %}
                <p>{{ post.user.username }} a publié un critique</p>
                {% endif %}
                <p>{{ post.time_created | date:'H:i, d F Y' }}</p>
            </div>
            <div class="review__rating">
                <p>{{ post.headline }} -</p>
                {% for _ in rating_range %}
                {% if forloop.counter0 >= post.rating %}
                <p class="rating__off">{{ rating_char_off }}</p>
                {% else %}
                <p class="rating__on">{{ rating_char_on }}</p>
                {% endif %}
                {% endfor %}
            </div>
            <p>Commentaire : {{ post.body }}</p>
            <div class="ticket__in__review">
                <div class="ticket__post__content">
                    {% if post.ticket.user == user %}
                    <p>Ticket - Vous</p>
                    {% else %}
                    <p>Ticket : {{ post.ticket.user }}</p>
                    {% endif %}
                    <p>Titre : {{ post.ticket.title }}</p>
                    {% if post.ticket.image %}
                    <img src="{{ post.ticket.image.url }}"
                         class="ticket__image">
                    {% endif %}
                </div>
            </div>
            <div class="review__post__content__row">
                <!-- empty element to put button to the right if no image-->
                <p></p>
                <div>
                    <!--@formatter:off-->
                    <a href="{% url "edit_review" post.id %}">
                    <button class="button">Modifier</button></a>
                    <a href="{% url "delete_review" post.id %}">
                    <button class="button">Supprimer</button></a>
                    <!--@formatter:on-->
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
