{% extends 'base_logged_in.html' %}

<!--Additional style for authentication-->
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'feed/feed.css' %}"/>
{% endblock %}

<!--Content-->
{% block content %}
<div class="row__display">
    <!--@formatter:off-->
    <a href="{% url "create_ticket" %}">
    <!--@formatter:on-->
    <button>Demander une critique</button>
    </a>
    <!--@formatter:off-->
    <a href="{% url "create_review_ticket" %}">
    <!--@formatter:on-->
    <button>Créer une critique</button>
    </a>
</div>
<div class="row__display">
    <div class="vertical__dispay">
        {% for post in posts|dictsortreversed:"time_created" %}
        {% if post.content_type == "TICKET" %}
        <!-- //////// TICKET DISPLAY //////// -->
        <div class="vertical__dispay">
            {% if post not in tickets_reviewed %}
            <!-- ----- ticket not reviewed ----- -->
            {% if post.user == user %}
            <p>Vous avez demandé un critique</p>
            {% else %}
            <p>{{ post.user.username }} a demandé un critique</p>
            {% endif %}
            <p>{{ post.time_created | date:'H:i, d F Y' }}</p>
            <p>Titre : {{ post.title }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" class="ticket__image">
            {% endif %}
            <!--@formatter:off-->
            <a href="{% url "create_review_from_ticket" post.id%}">
                <!--@formatter:on-->
            <button>Créer une critique</button>
            </a>
            {% else %}
            <!-- ---- ticket already reviewed ---- -->
            {% if post.user == user %}
            <p>Vous avez demandé un critique</p>
            {% else %}
            <p>{{ post.user.username }} a demandé un critique</p>
            {% endif %}
            <p>{{ post.time_created | date:'H:i, d F Y' }}</p>
            <p>Titre : {{ post.title }}</p>
            <p>Description : {{ post.description }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" class="ticket__image">
            {% endif %}
            {% endif %}
        </div>

        {% elif post.content_type == "REVIEW" %}
        <!-- //////// REVIEW DISPLAY //////// -->
        <div class="vertical__dispay">
            {% if post.user == user %}
            <p>Vous avez publié une critique</p>
            {% else %}
            <p>{{ post.user.username }} a publié un critique</p>
            {% endif %}
            <p>{{ post.time_created | date:'H:i, d F Y' }}</p>
            <p>Titre : {{ post.headline }}</p>
            <p>Note : {% for _ in rating_range %}
                {% if forloop.counter0 >= post.rating %}
                {% else %}
                {{ rating_char }}
                {% endif %}
                {% endfor %}</p>
            <p>Commentaire : {{ post.body }}</p>
            <div class="ticket__in__review">
                {% if post.ticket.user == user %}
                <p>Ticket : Vous</p>
                {% else %}
                <p>Ticket : {{ post.ticket.user }}</p>
                {% endif %}
                <p>Titre : {{ post.ticket.title }}</p>
                {% if post.ticket.image %}
                <img src="{{ post.ticket.image.url }}" class="ticket__image">
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}