{% extends 'base_feed_post.html' %}

<!--Additional style for authentication-->
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'feed/feed.css' %}"/>
{% endblock %}

<!--feed header-->
{% block feed_header %}
<h1 class="title">Flux</h1>
<div class="row__display">
    <!--@formatter:off-->
    <a href="{% url "create_ticket" %}">
    <button class="button">Demander une critique</button></a>
    <a href="{% url "create_review_ticket" %}">
    <button class="button">Créer une critique</button></a>
    <!--@formatter:on-->
</div>
{% endblock %}

<!--buttons-->
{% block feed_review_button %}
<!-- empty element to put button to the right if no image-->
<p></p>
<!--@formatter:off-->
<a href="{% url "create_review_from_ticket" post.id%}">
<button class="button">Créer une critique</button></a>
<!--@formatter:on-->
{% endblock %}